body, html{
    font-family: 'Roboto', sans-serif;
    background: url("../img/background.svg") repeat center bottom;
}
h2{
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
}
h5{
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size:19px;
}
#div-text{
    background-color: white;
    background-size: contain;
}
