* {
  font-family: "ubuntu";
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to bottom right,
    #001e4d,
    #000814,
    #000814,
    #001e4d
  );
  width: 100%;
  height: 100vh;
}

button {
  cursor: pointer;
}
