<form action="/add" method="POST">
  <p>Nome: </p>
  <input class="form-control" type="text" name="nome">
  <p>Idade: </p>
  <input class="form-control" type="number" name="idade">
  <p>Pet: </p>
  <select name="pet">
    <option value=""></option>
    <option value="cachorro">Cachorro</option>
    <option value="gato">gato</option>
  </select>
  <p>Raça: </p>
  <input class="form-control" type="text" name="raca">
  <p>Nome do Dono</p>
  <input class="form-control" type="text" name="nomeDono">
  <p>Contato do Dono</p>
  <input class="form-control" type="text" name="contatoDono">
  <div>
    <button class="btn-cancel"> <a href="/">Cancelar</a></button>
    <button type="submit" class=" btn-cad">Cadastrar</button>
  </div>
</form>