.container {
  width: 95%;
  margin-inline: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 25px;
  color: #fff;
  margin-top: 50px;
}

.circle {
  background-image: linear-gradient(to right, #00cafc, #0056e2);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
}

.circle img {
  width: 50px;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to top left, #000814, #001e4d);
  padding: 12px;
  border-radius: 10px;
  justify-content: space-between;
  height: 115px;
  outline: none;
}

.item:hover {
  outline: solid 3px #00cafc;
}

.item span {
  display: flex;
  font-size: 18px;
  align-items: center;
  margin-bottom: 8px;
  margin-top: 8px;
}

.item span img {
  padding-left: 14px;
  padding-right: 8px;
}

.arrow_icon {
  margin-left: auto;
  padding-right: 20px;
  cursor: pointer;
}

.active {
  position: absolute;
  top: calc(100% + 16px);
  width: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to top left, #000814, #001e4d);
  border-radius: 10px;
  padding: 16px;
  outline: solid 3px #00cafc;
  z-index: 1;
}

.activeItem {
  outline: solid 3px #00cafc;
}

.active span {
  margin-top: 0;
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: 18px;
}

.bone {
  margin-right: 3px;
  width: 18px;
}

.dna {
  margin-left: 2px;
  margin-right: 8px;
}

.phone {
  margin-right: 3px;
}

.calendar {
  margin-right: 5px;
}

.button_change {
  background-color: #fff;
  color: #0056e2;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  margin-top: 13px;
  margin-bottom: 10px;
}
.button_remove {
  background-image: linear-gradient(to right, #00cafc, #0056e2);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
}

.button_change img {
  padding-right: 5px;
}

.button_remove img {
  padding-right: 6px;
}

.pagination {
  display: flex;
  align-items: center;
  position: absolute;
  right: 25px;
  bottom: 35px;
}

.pagination span {
  font-size: 22px;
}

.paginationButton {
  background: none;
  border: none;
  cursor: pointer;
}

.paginationButton:focus {
  outline: none;
}

.paginationButtonIcon {
  color: #fff;
  width: 35px;
  height: 35px;
}
