<%- contentFor('body') %>
<div class="row">
   
        <div class="col-md-12">
            <div class="form-add">
                <form action="/create" method="POST">
                    <div class="col-md-12 pet-inputs">
                        <p> Nome do pet:</p>
                        <input type="String" name="petName" id="petName">
                        <p>Idade do pet:</p>
                        <input type="number" name="petAge">

                    </div>
                    <div class="col-md-12 pet-inputs">
                        <p>Gato ou Cachorro?</p>
                            <select name="typePet" id="">
                                <option value="cachorro"> Cachorro</option>
                                <option value="gato"> Gato</option>
                            </select>
                            <p>Qual é a raça do pet?</p>
                            <input type="text" name="petRaca">
                    </div>
                    <div class="col-md-12 pet-inputs">
                        <h2>Conte-nos do responsável:</h2>
                        <p>Nome do responsável:</p>
                        <input type="text" name="petResponsavel">
                        <p>Telefone do responsável:</p>
                        <input type="text" id="telphone" name="petTelResponsavel">

                    </div>
                    
                        <button class="button-cadastro">Cadastrar </button>
                        
                </form>
                
            </div>
        </div>
    
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

  <script type="text/javascript">
   
    $(document).ready(function(){
      $('#telphone').mask('(00) 90000-0000');
      });

    
   
  </script>