.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.tableWrapper {
  width: 100%;
}

.table {
  width: 100%;

  border-collapse: collapse;
}

.tableButton {
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  border: 0;

  cursor: pointer;
}

.tableHeadCheckbox {
  border-color: #959595;
}

.table thead tr th {
  padding-bottom: 8px;

  border-bottom: 1px solid #959595;
  color: #959595;
  font-size: 15px;
  text-align: left;
}

.table thead tr th + th,
.table tbody tr td + td {
  padding-left: 34px;
}

.table thead tr th:first-child,
.table tbody tr td:first-child {
  padding-left: 16px;

  width: 44px;
  min-width: 44px;
  max-width: 44px;
}

.table thead tr th:last-child {
  padding-right: 16px;
}

.table tbody tr td {
  padding: 16px 0;
}

.table tbody tr:hover td {
  background: rgba(245, 0, 87, 0.1);
  cursor: pointer;
  transition: background-color 0.3s;
}

.table tbody tr.active td {
  background: rgba(245, 0, 87, 0.25);
}

.table tbody tr td:first-child {
  border-radius: 4px 0 0 4px;
}

.table tbody tr td:last-child {
  border-radius: 0 4px 4px 0;
}

@media (max-width: 1200px) {
  .tableWrapper {
    max-width: 100%;
    overflow-x: auto;
  }
}