.register_animal_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.register_animal {
  width: 650px;
  height: 650px;
  padding: 20px;
  background-image: linear-gradient(to top left, #000814, #001e4d);
  color: #fff;
  display: flex;
  align-items: center;
  border: solid 3px #00cafc;
  border-radius: 10px;
  flex-direction: column;
}

.div_circle {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-image: linear-gradient(to right, #00cafc, #0056e2);
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.header_animal {
  display: flex;
  padding: 20px;
  align-items: center;
  margin-bottom: 35px;
  margin-top: 30px;
  padding-left: 2px;
}

.button_icon {
  background: none;
  border: none;
  padding: 0;
  margin-left: 300px;
}

.button_icon svg {
  width: 40px;
  height: 40px;
  color: #fff;
}

.header_animal h1 {
  font-weight: 500;
  font-size: 30px;
}

.div_circle img {
  width: 300px;
  height: 40px;
}

.form_modal {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.form_section {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 20px;
  flex: 1;
  margin-left: 23px;
}

.radio {
  display: flex;
  gap: 10px;
  height: 40px;
}

.radio label {
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
  margin-left: 7px;
}

.radio input {
  margin-left: 3px;
}

.radio span {
  display: flex;
  align-items: center;
  padding-left: 7px;
  font-size: 18px;
  font-weight: 500;
  border: 3px solid #404a5c;
  border-radius: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.form_section span {
  color: #404a5c;
  font-weight: 600;
}

.form_section > div {
  display: flex;
  flex-direction: column;
}

.form_section img {
  padding-right: 6px;
}

.form_section label {
  margin-bottom: 10px;
  padding-top: 15px;
  padding-right: 15px;
  font-size: 18px;
  font-weight: 500;
}

.form_section input {
  background-color: transparent;
  border: 3px solid #404a5c;
  outline: none;
  height: 40px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  padding-left: 10px;
  color: #fff;
}

.register_buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 45px;
}

.register_buttons button {
  border-radius: 5px;
  border: none;
  width: 260px;
  height: 50px;
  margin: 10px;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register_buttons svg {
  margin: 7px;
  margin-top: 8px;
}

.back_button {
  background-color: #fff;
  color: #0056e2;
}

.button_register_modal {
  background-image: linear-gradient(to right, #00cafc, #0056e2);
  color: #fff;
  border: none;
}

.button_register_modal img {
  margin-right: 4px;
  width: 22px;
}
