.container {
  padding-top: 64px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  margin-top: 12px;

  font-size: 24px;
  font-weight: 500;
  text-transform: lowercase;
}

.content {
  margin-top: 64px;

  display: flex;
}

.linkContent {
  padding-top: 24px;
  padding-bottom: 16px;

  width: 190px;
  height: 190px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: 3px solid #fff;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  opacity: 0.6;
  text-decoration: none;

  transition: opacity 0.3s;
}

.linkContent span {
  margin-top: auto;
}

.linkContent:hover {
  opacity: 1;
}

.linkContent:focus {
  border-color: #f50057;
  opacity: 1;
  outline: 0;
}

.linkContent ~ .linkContent {
  margin-left: 64px;
}

@media (max-width: 500px) {
  .content {
    margin-bottom: 40px;
    flex-direction: column;
  }

  .linkContent ~ .linkContent {
    margin-top: 16px;
    margin-left: unset;
  }
}
