@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
}

main {
  height: 100vh;
}