<%- include('includes/header')  %>
    <%- include('includes/nav')  %>

    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>

            <div class="col-lg-8 my-5">
                <h1 class="display-1 text-center">Erro 404! :p</h1>
                <p class="text-center lead">Ops, essa página não existe</p>
            </div>
            
            <div class="col-lg-2"></div>
        </div>
    </div>

<%- include('includes/footer')  %>