<nav id="sidebar">
    <div class="sidebar-header">
        <h3><a href="/pets">LOGOTIPO</a></h3>
    </div>
    <div id="sidebar-nav-container">
        <h4 data-toggle="collapse" data-target="#demo" class="sidebar-collapse">Pets</h4>
        <div id="demo" class="collapse" >
            <div>
                <a href="/pets" style="color: white;" class="teste">Ver Pets cadastrados</a>
                <a href="/pets/create" style="color: white;" class="teste">Cadastrar Pet</a>
            </div>
        </div>
    </div>
</nav>