main {
  display: flex;

  h1 {
    font-family: Poppins;
  }

  .content-cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 35rem;

    .box-card {
      display: flex;
      background-color: rgb(167, 34, 162);
      border-radius: 1rem;

      & + .box-card {
        margin-top: 1rem;
      }

      header {
        margin-bottom: 0.4rem;
        display: flex;
        justify-content: space-between;
        width: 50%;
        align-items: center;

        h2 {
          font-family: Heebo;
        }

        .buttons button {
          font-family: Heebo;
          font-weight: 800;
          font-size: 1rem;
          padding: 0.6rem 2rem;
          color: #fff;
          border: 0;
          border-radius: 1rem;
          cursor: pointer;
        }

        .btn-edit {
          margin-right: 0.4rem;
          background-color: green;

          &:hover {
            transition: 0.2s;
            background-color: rgb(20, 172, 20);
          }
        }

        .btn-about {
          background-color: blueviolet;

          &:hover {
            transition: 0.2s;
            background-color: rgb(92, 8, 170);
          }
        }
      }

      .line {
        background-color: whitesmoke;
        height: 0.1rem;
        width: 50%;
        margin: 0 auto;
      }

      ul {
        display: flex;
        flex-direction: column;
        margin: 1rem 2rem;

        li {
          font-family: Poppins;
          text-decoration: none;
          list-style: none;
        }
      }
    }
  }
}
