@import "./variables";

#modal-header{
    display: flex;
    align-items: center;
}

.modal-title{
    font-size: 1.5rem;
}

.modal-body {

    form {
        display: flex;
        flex-direction: column;
        background-color: white;


        border-radius: 25px 25px 20px 20px;

        #form-inputs {
            display: flex;
            flex-direction: column;

            .input-container,
            .input-container-file {
                margin: 0.2rem 0;
                padding: 0.5rem 2rem;

                display: flex;
                flex-direction: column;
                justify-content: center;


                border-radius: 20px;

                label {
                    font-size: 1.2rem;
                    margin: 0;
                    padding: 0;
                }

                input {
                    outline: none;
                    border: none;

                    border-bottom: 2px solid $header;
                }
                .form-check {
                    display: flex;
                    align-items: center;
                }

                button {
                    padding: 0.5rem 0;

                    background: $card-body;
                    color: white;

                    font-size: 1.5rem;
                    font-weight: bold;

                    outline: none;
                    border: none;
                    border-radius: 10px;

                    &:hover:enabled {
                        transition: 0.2s;

                        cursor: pointer;
                        background: #f18080;
                        transform: scale(1.01);
                    }

                    &:active:enabled {
                        transition: 0.2s;

                        background: #bb5858;
                        transform: scale(0.98);
                    }

                    &:disabled {
                        background: rgb(122, 122, 122);
                    }
                }
            }
            
            .input-container-file {
                input {
                    margin: 1rem 0;
                    border: none;

                    &::file-selector-button {
                        background: white;

                        padding: 0.5rem;

                        outline: none;
                        border: 2px solid $card-body;
                        border-radius: 10px;

                        cursor: pointer;
                    }
                }
            }
        }
    }
}
