.container {
  padding: 16px 0px;

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
}

.navItem {
  padding: 0 24px;

  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.3s;
}

.navItem svg {
  margin-right: 12px;
}

.navItem:hover,
.navItem.active {
  background: #2a3647;
}

.navItem.inactive {
  cursor: not-allowed;
  opacity: 0.6;
}

.navItem ~ .navItem {
  margin-left: 16px;
}

.logout {
  display: flex;
  align-items: center;

  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.logout svg {
  margin-left: 12px;
}

@media (max-width: 800px) {
  .container img {
    width: 220px;
  }

  .nav {
    display: none;
  }
}

@media (max-width: 600px) {
  .container img {
    width: 180px;
  }
}
