.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input_container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input_container input {
  background-color: transparent;
  border: solid 2px #404a5c;
  border-left: none;
  outline: none;
  border-end-end-radius: 10px;
  border-top-right-radius: 10px;
  height: 50px;
  font-size: 22px;
  color: #fff;
  width: 100%;
  margin-right: 10px;
  padding-left: 10px;
}

.icon {
  margin: 0px 0px 0px 55px;
  background-color: #404a5c;
  border-start-start-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 50px;
  height: 50px;
  padding: 8px;
}

.input_container button {
  position: absolute;
  right: 20px;
  background-color: #404a5c;
  border: none;
  border-radius: 5px;
  color: #fff;
  width: 90px;
  height: 33px;
  font-size: 16px;
  align-items: center;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.button_register {
  background-image: linear-gradient(to right, #00cafc, #0056e2);
  color: #fff;
  border: none;
  padding: 13px 10px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  margin-left: 10px;
  margin-right: 40px;
  width: 9.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon_plus {
  margin-right: 5px;
}
