.header{
    height: 140px;
    width: 98%;
    margin-bottom: 10px;
}
.main{
    height: 90%;
    width: 100%;
    
}
.logo{
    display: flex;
    align-items: center;
    margin-bottom: 1.5%;
    height: 70px;
}
.h3{
    color: #FFFFFF;
    margin-left: 10px;
    font-size: 30px;
    font-weight: 500;
}

.Containersearch{
    display: flex;
    width: 100%;
    align-items: center;
    height: 42px;
    justify-content: space-between;
}
.Containersearch .search{
     width: 95%; 
     height: 80%;
     display: flex;
     align-items: center;
     position: relative;
     margin-right: 10px;
}
.search span{
    display: flex;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
    align-items: center;
    background-color: #404A5C;
    height:118%;
    width:38px;
}
.Containersearch .search input{
    width: 95%; 
    height: 100%;
    background-color: transparent;
    border: 2px solid #404A5C;
    border-radius:0px 5px 5px 0px ;
    outline: none;
    padding-left: 10px;
}
.searchButton{
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    margin-right: 5px;
    background-color: #404A5C;
    border-radius: 2px;
    border: none;
    font-weight: 700;
    height: 90%;
    width: 80px;

}