.ContainerPetList{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 10px;
   justify-content: space-evenly;
}
.Pet{
    cursor: pointer;
    position: relative;
    height: 80px;
    border-radius: 10px;
    padding-inline: 10px;
    display: flex;
    align-items: center;
    background: linear-gradient(316.01deg, #000814 10.31%, #001E4D 90.58%);

}
span.PetArrowInfo{
    display: flex;
    width: 40%;
    justify-content: right;
}
.Pet:hover{
    outline: 2px solid #00CAFC;
}
span.PetIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    min-width: 60px;
    border-radius: 50%;
    background: linear-gradient(90deg, #00CAFC 0%, #0056E2 100%);

}
.ContainerPetInfo{
padding-left: 8px;
   max-height: 100%;
   width: 100%;
}
.PetInfo{
    display: flex;
    height: 25px;
    font-size: 16px;
    align-items: center;
}
.PetInfo svg{
    margin-right: 5px;
}
/* PARTE DO POPUP ---->> */

