main {
  margin: 1rem 0;

  h1 {
    font-family: Poppins;
  }

  .content-cards {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    border-radius: 1rem;

    .box-card {
      display: flex;
      flex-direction: column;

      header {
        margin: 1rem auto;
        display: flex;
        justify-content: space-between;
        width: 80%;

        h2 {
          font-family: Heebo;
        }
      }

      .line {
        background-color: whitesmoke;
        height: 0.1rem;
        width: 90%;
        margin: 0 auto;
      }

      .box-conteudo {
        margin: 1rem 0;
        display: flex;
      }
    }
  }
}
